@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  gap: 112px;
  display: flex;
  flex-direction: column;
  font-family: "Fira Code", monospace;
  font-style: normal;
  background-color: #282c33;
  color: #fff;
  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 112px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0;
}

h1 {
  width: 100%;
  padding-right: 10px;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
}

h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: #c778dd;
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

h2::before {
  content: "#";
  color: #c778dd;
}

span {
  color: #c778dd;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  padding: 8px 16px;
  border: 1px solid #c778dd;
  font-weight: 500;
  transition: all 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: rgba(160, 50, 145, 0.1);
}

.content {
  flex: 1;
  margin-top: 112px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 112px;
}

blockquote {
  margin: 0;
}

@media (max-width: 1024px) {
  .container {
    padding: 16px;
  }
}