.contacts {
	width: 100%;
}

.contacts__content {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 48px;
}

.contacts__description {
	color: #abb2bf;
	max-width: 600px;
}

.contacts__media {
	border: 1px solid #abb2bf;
	padding: 16px;
}

.contacts__title {
	font-weight: 600;
}

.contacts__list {
	margin-top: 16px;
}

.contact {
	display: flex;
	gap: 8px;
	color: #abb2bf;
	align-items: center;
	margin-top: 8px;
}

.contact img {
	max-height: 24px;
}